* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.counter {
  display: flex;
  justify-content: center;
  margin-top: 40vh;



}

.reset{

  margin-left:935px;
}
.zero{

  font-size:90px;
color: red
}